/* the items contained in the navigation bar */
.navbar-item {
    width: 1fr;
    background-color: transparent;
    text-decoration: underline;
    /* color: white; */
}

    #navbar-item-first {
        padding-left: 2vw;
    }
    #navbar-item-last {
        padding-right: 2vw;
    }